rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // يسمح للمستخدم المسجل بقراءة وكتابة وثيقته المباشرة
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // يسمح للمستخدم المسجل بالوصول لكافة المجموعات والمستندات الفرعية
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // منع أي وصول خارج نطاق المستخدم المصرح له
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
